<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymgomez">

    <application
        android:allowBackup="true"
        android:label="LoginApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymGomez">
        <activity
            android:name=".SessionManagerActivity"
            android:exported="false" />
        <activity
            android:name=".LoginResponseActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ApiServiceActivity"
            android:exported="false" />
        <activity
            android:name=".RetrofitClientActivity"
            android:exported="false" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".SplashActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>